/* =============
    Hero
============= */

#hero{
    background-image: url("../img/hero2.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}


nav{
    ul{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        justify-content: space-evenly;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        li{
            
        }
        button{
            
        }
    }
}