/* =============
    Hero
============= */

#hero {

    nav{
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                //love hate
                a:link, a:visited{

                    font-size: 20px;
                    color: white;
                    text-decoration: none;
                }
                a:hover, a:active{
                    color: green;

                }
                button{
                    padding: 10px;
                    background-color: var(--blue);
                    color: white;
                    border: none;

                }
            }
        }
    }




    section{
        h1{
            color: var(--white);
            
        }
        p{
            color: var(--white);
            ul{
                li{
                    button{
                        color: var(--blue);
                    }
                }
            }
        }
    }
}