/* =============
    Hero
============= */

#hero {






    section{
        h1{
            color: var(--white);
            
        }
        p{
            color: var(--white);
            ul{
                li{
                    button{
                        color: var(--blue);
                    }
                }
            }
        }
    }
}