/* =============
    Footer
============= */

body{
    footer{
        display: grid;
        grid-template-columns: 27% 33% 30% 30%;
        //justify-content: center;

        div{
            //height: 100px;
            //display: flex;
            //justify-content: space-evenly;
            
        }

        background-color: var(--navy);
        p{
            color: var(--white);
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
        }
        ul{
            display: flex;
            justify-content: space-evenly;
            li{
                list-style: none;
             
                h1{
                    color: var(--white);

                }
                a:link, a:visited{
                    font-size: 20px;
                    color: gray;
                    text-decoration: none;
                    

                }
                a:hover,a:active{
                    color: green;
                }
            }
            li{
                h1{

                }
                p{

                }
                form{
                    button{
                        background-color: aqua;
                        color: white;
                    }
                }
            }
    
        }
    }
}




