/* =============
    Header
============= */

header{
    padding: 12px 24px;
    display: grid;
    grid-template-columns: 0%;
    grid-template-areas: 
    "logo nav";


    #logo-container{
     //border: 1px solid black;
        display: flex;
        justify-content: left;
        grid-area: logo;
    }

    #burger-container{
        //border: 1px solid black;
        display: flex;
        justify-content: flex-end;
        grid-area: burger;
    }
   
    
}


nav{
    grid-area: nav;
}

