/* =============
    Navigation
============= */



.showMainNav{
    display: block;
}


a{
    text-decoration: none;
}

#mainNav{
    ul{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        
        li{
            a:link, a:visited{
                padding: 15px;
            }
            a:hover, a:active{

            }
        }
    }

    
}
